@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Work Sans", sans-serif; */
*{
    margin:0;
    padding:0;
}

.btn-container{
    text-align:center;
}

.btn {
    padding:14px 18px 14px 18px;
    color:rgb(255, 255, 255);
    font-family:Work Sans;
    font-size:12px;
    font-weight:600;
    line-height:16px;
    letter-spacing:0%;
    text-align:center;
    border-radius:8px;
    background:rgb(82, 195, 3);
    border:none;
    cursor: pointer;
}
#hero{
    width:100%;
    height:100%;
    height:615px;
    background-image:linear-gradient(0deg, rgb(16, 16, 16) -19.5%,rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    display:flex;
    justify-content:center;
    align-items:center;
}

#hero .hero-content {
    width:685px;
}

#hero .hero-content .subtitle {
    color:rgb(255, 255, 255);
    font-family:Work Sans;
    font-size:20px;
    font-weight:600;
    line-height:38px;
    letter-spacing: 0%;
    text-align:center;
    opacity:0.8;
    margin-bottom:10px;
}

#hero .hero-content .title {
    color:rgb(255, 255, 255);
    font-family:Work Sans;
    font-size:36px;
    font-weight:700;
    line-height:50px;
    letter-spacing: 0%;
    text-align:center;
    margin-bottom:14px;
}

#hero .hero-content .description {
    color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 10px;
font-weight: 500;
line-height: 16px;
letter-spacing: 0%;
text-align: center;
opacity:0.7;
margin-bottom:32px;
}

#card-box {
    width:1344px;
    height:500px;
    width:90%;
    height:90%;
    display:flex;
    justify-content: space-around;
    margin:100px auto;
}

#card-box .info {
   
}

#card-box .title {
    color:rgb(16, 16, 16);
    font-family:Work Sans;
    font-size:28px;
    font-weight:700;
    line-height:32px;
    letter-spacing:0%;
    text-align: center;
}

#card-box .subtitle {
    color:rgb(16, 16, 16);
    font-family:Work Sans;
    font-size:14px;
    font-weight:500;
    line-height:16px;
    letter-spacing:0%;
    text-align: center;
    opacity:0.6;
}

.card-container{
 margin-top:5px;
 display:flex;
 font-family: Work Sans;
 justify-content:space-between;
 gap:20px;
}

.card {
    max-width:250px;
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    align-items:center;
}

.card .image-box {
    width:250px;
}

.card .image-box img{
    width:100%;
}

.card .shop {
    background-color: aqua;
    padding: 10px 18px 10px 18px;
    border-radius:8px;
    background:rgba(82, 195, 3, 0.15);
}
.card .btn {
    margin-top:20px;
    margin-left:30px;
}
#page{
    width:643px;
   margin:100px auto;
   justify-content: center;
   display: flex;
   width:90%;
   height:90%;
}
#page .image1 {
    width:350px;
}
#page .image1 img{
    width:100%;
}

#page .food-container{
    max-width:250px;
    display:flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
}
    

.icons{
    display: flex;
   text-align: center;
   gap:20px;
   margin-top:60px;
   width:80px;
   height:40px;
   margin-left: 90px;
   cursor: pointer;
}